<footer class="bg-white shadow p-4 sm:p-6 xl:p-8 dark:bg-gray-800">
  <p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 sm:mb-0">
      &copy; 2023 <a href="https://ynov.com/" class="hover:underline" target="_blank">YnovHack.me</a>. Tous droits réservés.
  </p>
</footer>
