<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyStore - Store</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @include('elements.navbar')
  @!section('content')
  @include('elements.footer')
</body>
</html>
