/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div#alert, div#alertPerso{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .15s linear;
}
div#alert.active, div#alertPerso.active{
  opacity: 1;
}
div#alertPerso{
  background-color: rgba(0, 0, 0, 0.25);
}
#alertPerso > p{
  padding: 15px 10px; 
  background-color: #333;
  color: azure;
  border-radius: 10px;
}

form{
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 1;
  transition: all .5s linear;
}
form.active{
  display: flex;
}
form.inactive{
  opacity: 0;
}
form>div{
  display: flex;
  flex-direction: row;
}

img{
  transition: all 1s linear;
}
img.hint{
  transition: all 2.5s linear;
  opacity: 0;
}
img.hint.active{
  opacity: 1;
}
img.final{
  max-width: 50wv;
  max-height: 25vh;
}